/.env
/doc/
/output
/volumes
/logs
**/__pycache__/
*.pyc
*.json
/test
/test/
.idea/
.vscode/
.claude/
test/
embedding_test.py
generate_ragas_eval_data.py
test.py
generate_ragas_eval_data.py
*.html
knowhere-main
*.md